<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/ToDoList.css">
    <script src="js/vue.js"></script>
    <script src="js/vuex.js"></script>
</head>
<body>
<div id="root">
    <header>
        <section>
            <label for="title">ToDoList</label>
            <input type="text" id="title" name="title" placeholder="添加ToDo" required="required" autocomplete="off"
                   @keyDown="handleInput" v-model="userInput"/>
        </section>
    </header>
    <section>
        <h2>正在进行 <span id="todocount">{{this.$store.getters.undoneCount}}</span></h2>
        <ol id="todolist" class="demo-box">
            <undone v-for="(item,index) of this.$store.getters.undone" :text="item.text" :index="item.id"></undone>
        </ol>
        <h2>已经完成 <span id="donecount">{{this.$store.getters.doneCount}}</span></h2>
        <ul id="donelist">
            <done v-for="(item,index) of this.$store.getters.done" :text="item.text" :index="item.id"></done>
        </ul>
    </section>
</div>
<footer>
    Copyright &copy; 2014 todolist.cn
</footer>
</body>
    <script>
        const store = new Vuex.Store({
            state:{
                total:[],
                num:0
            },
            getters:{
                undone: state => state.total.filter(item => !(item.state)),
                done: state => state.total.filter(item => item.state),
                undoneCount:(state,getters) => getters.undone.length,
                doneCount:(state,getters) => getters.done.length,
            },
            mutations:{
                addList(state,txt){
                    state.total.push({text:txt,state:false,id:state.num});
                    state.num += 1;
                    console.log(state.num);
                },
                undoneChange(state,index){
                    for(let i = 0;i < state.total.length;i++){
                        if(state.total[i].id === index){
                            state.total[i].state = true;
                        }
                    }
                },
                undoneDelete(state,i){
                    state.total.splice(i,1);
                },
                doneChange(state,index){
                    for(let i = 0;i < state.total.length;i++){
                        if(state.total[i].id === index){
                            state.total[i].state = false;
                        }
                    }
                },
                doneDelete(state,i){
                    state.total.splice(i,1);
                }
            }
        })
        let undoneItem = {
            props:['text','index'],
            store:store,
            template:`<li>
                    <input type= 'checkbox' name= '' id= ''  @click="undoneClick">
                    <p>{{text}}</p>
                    <a href='javascript:;' @click="undoneRemove">-</a>
                    </li>`,
            methods: {
                undoneClick:function () {
                    store.commit("undoneChange",this.index);
                },
                undoneRemove:function () {
                    store.commit("undoneDelete",this.index);
                }
            }
        }
        let doneItem = {
            props:['text','index'],
            store:store,
            template:`<li>
                    <input type= 'checkbox' name= '' id= ''  @click="doneClick" checked>
                    <p>{{text}}</p>
                    <a href='javascript:;' @click="doneRemove">-</a>
                    </li>`,
            methods: {
                doneClick:function () {
                    store.commit("doneChange",this.index);
                },
                doneRemove:function () {
                    store.commit("doneDelete",this.index);
                }
            }
        }
        let vm = new Vue({
            el:"#root",
            store:store,
            data:{
                msg:"Hello!",
                userInput:""
            },
            components:{
                undone:undoneItem,
                done:doneItem
            },
            methods:{
                handleInput:function (e) {
                    if(e.keyCode===13){
                        this.$store.commit("addList",this.userInput);
                        this.userInput = "";
                    }
                }
            }
        })

    </script>
</html>